.container
  width: $grid-num-columns * $grid-column-width + ($grid-num-columns + 1) * $grid-gutter-width
  padding: 0 $grid-gutter-width
  margin: 0 auto

.grid
  @extend .container

  .row
    +pie-clearfix
    margin-right: -$grid-gutter-width

    .column
      position: relative
      float: left
      margin-right: $grid-gutter-width

      @for $i from 1 through ($grid-num-columns - 1)
        &.push-#{$i}
          margin-left: $i * ($grid-column-width + $grid-gutter-width)
        &.pull-#{$i}
          margin-right: $i * ($grid-column-width + $grid-gutter-width)

      @for $i from 1 through $grid-num-columns
        &.span-#{$i}
          width: $i * $grid-column-width + ($i - 1) * $grid-gutter-width
