
.top
  min-height: 12 * $vertical-pacing
  background-color: #f47b22
  background: url(../images/tobias-jumping.gif)
  background-size: cover

.bottom
  background-color: darken(white, 10%)

.header
  padding: $vertical-pacing 0
  aside
    @extend .fancy
    text-align: right
    padding-top: 16px

.screencap
  text-align: right
  img
    width: 180px
