
.top
  background-color: rgba($dat-orange, 0.8)
  height: 12 * $vertical-pacing
  display: relative

  &::after
    display: block
    content: ''
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    z-index: -1

    background: url(http://images2.fanpop.com/images/photos/3600000/AD-Animated-gif-arrested-development-3695379-300-169.gif)
    background-size: cover
    background-repeat: no-repeat
    -webkit-filter: grayscale(1.0) contrast(1.5)


.bottom
  background-color: darken(white, 10%)

.header
  padding: $vertical-pacing 0
  aside
    @extend .fancy
    text-align: right
    padding-top: 16px
