
.chromeframe
  width: 320px
  margin: 0 auto
  padding: 50px 0
  color: #444
  a, h1
    color: $color-orange

.header
  padding: $vertical-pacing 0 $vertical-pacing * 4
  aside
    @extend .fancy
    text-align: right
    padding-top: 16px

.top
  position: relative
  background: $site-background-color url(../images/tobias-jumping.gif) no-repeat center
  background-size: cover
  min-height: 640px
  a
    color: #fff
  .lt-ie9 &
    background: $site-background-color

.bottom
  color: #222
  a
    color: $color-orange

.stage
  min-height: 100%
  padding-bottom: 175px
  background: url(../images/we-heart-arrested.png) no-repeat bottom

footer.who
  border-top: 1px solid #eee
  padding-top: 5px
  margin-top: $vertical-pacing
  @extend .fancy
  color: #999
  font-size: 0.9125em
  a
    +transition(color 0.3s)
    color: #666
    &:hover
      color: #222

.screencap
  min-height: 105px
  text-align: right
  img
    width: 180px
    +box-shadow(0 0 5px rgba(#000, 0.5))

.episode-number
  @extend .display
  font-size: 1.5em
  .of
    @extend .fancy
.season-meta
  @extend .display
  text-transform: uppercase
  .episode
    color: $season-episode-color
  .divider
    color: $season-divider-color
.episode-details, .episode-facts
  padding-top: $vertical-pacing
.episode-details
  margin: $vertical-pacing / 2  0 0
  dt
    font-weight: bold
    clear: left
    float: left
    width: 100px
    padding: 5px 0
  dd
    margin: 0
    padding: 5px 0
    padding-left: 100px
.episode-facts
  h3
    margin: 0 0 10px
    a
      +transition(color 0.3s)
      @extend .fancy
      text-decoration: none
      font-weight: normal
      color: $color-orange
      border-bottom: 1px dotted $color-border-orange
      font-size: 1em
      &:hover
        color: $color-dark-orange
  p
    margin: 0
.episode-description
  p
    margin: 0

.btn
  z-index: 10
  +transition(background 0.3s, border-color 0.3s, box-shadow 0.3s)
  +box-shadow(0 3px 0 rgba(#000, 0.1))
  +border-radius(3px)
  width: 100%
  position: relative
  display: block
  background: $button-background-color
  padding: 8px 10px
  text-align: right
  text-decoration: none
  margin-top: 35px
  color: #fff
  border: 1px solid darken($button-background-color, 2%)
  border-bottom: none
  &:before
    content: ""
    position: absolute
    bottom: 0
  &:hover
    border-color: darken($button-background-hover-color, 2%)
    background: $button-background-hover-color
    +box-shadow(0 3px 0 rgba($button-background-hover-color, 0.25))
  &.shoot-me
    top: 15px
    padding-left: 90px
    &:before
      left: 0
      width: 94px
      height: 88px
      background: url(../images/shoot-me.png) no-repeat
  &.marry-me
    top: 15px
    padding-left: 100px
    &:before
      left: 20px
      width: 87px
      height: 71px
      background: url(../images/marry-me.png) no-repeat
