<section class='top'>
  <div class="grid">
    <header class='header row'>
      <h1 class="column span-3">
        <span class='under-border'>This</span>
        kind of agility?
      </h1>
      <aside class="column span-3">
        A random Arrested Development episode selector machine.
      </aside>
    </header>

    <div class="episode" ng-show='chosenEp'>
      <div class="row">
        <div class='episode-meta column push-1 span-5'>
          <div class="episode-number">
            <sup class="hash">#</sup>{{chosenEp.episode}}
            <span class="of">of</span> {{episodes.length}}
          </div>
          <div class="season-meta">
            <span class="season">Season 1</span> <span class="divider">/</span> <span class="episode">Episode 1</span>
          </div>
          <h2>{{ chosenEp.title }}</h2>
        </div>
      </div>

      <div class="row">
        <div class="screencap column span-2">
          <img ng-src='{{chosenEp.screencap}}'>
        </div>
        <div class="description column span-4">
          <p>{{ chosenEp.synopsis }}</p>
        </div>
      </div>

      <div class="row">
        <div class="column push-2 span-3 pull-1">
          <a href="" ng-click='anotherEp()' class="btn shoot-me">
            Looking for something different? <strong>Shoot me!</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bottom">
  <div class="grid">
    <div class="row" ng-show='chosenEp'>
      <div class='episode-meta column push-1 span-5'>
        <p><strong>Directed by:</strong> {{ chosenEp.director }}</p>
        <p><strong>Written by:</strong> {{ chosenEp.writer }}</p>
        <p><strong>Aired on:</strong> {{ chosenEp.airdate }}</p>
      </div>
    </div>
  </div>
  <div class="grid footer">
    <div class="row">
      <div class="column push-3 span-3">
        <img src="images/we-heart-arrested.png" alt="We heart Arrested Development!">
      </div>
    </div>
  </div>
</section>
